<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="sergeylysyi.notes">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Notes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sergeylysyi.notes.MainActivity"
            android:label="Notes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="sergeylysyi.notes.EditActivity"
            android:label="Edit Note">
        </activity>
        <activity
            android:name="sergeylysyi.notes.ScrollPalette"
            android:label="Choose Color"/>
        <activity
            android:name="sergeylysyi.notes.UserActivity"
            android:label="User">
        </activity>

        <service android:name=".note.NoteSaverService"/>

    </application>

</manifest>